@media (max-width:768px) {
  .container {
   width: 212px !important;
  }
}
.container {
  position: relative;
  width: 864px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.game-over{
  padding: 20px;
  text-align: center;
  font-size: 60px;
  animation: blinkZoom 1s infinite;
}

.congrats {
text-align: center;
padding-bottom: 15px;
}
@keyframes blinkZoom {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

  @media (max-width: 768px) {
    .dead-snake{
      width: 70vw;
    }

  }
 @media (min-width: 768px) {
  .dead-snake{
    height: 70vh;
  }

 }
